body{
    background-color: greenyellow;
    text-align: center;
    font-size: xx-large;
    color: green;
    background-position: 0%;
    border-radius: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    border-radius: 0%;
    background-color: rgb(252, 236, 208);
    width: 100%;
    background-position: center;
    bottom: aqua;
    border-color: black;
    
    
}
form,label{
    display: block;
    padding: 10px;
}